.login-pf .container {
  padding-top: 40px; }

.login-pf a:hover {
  color: #0099d3; }

#kc-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/internmatch-bg.jpg");
  background-size: cover; }

#kc-content {
  background-color: rgba(0, 0, 0, 0.6) !important;
  height: inherit;
  width: inherit;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

#kc-form {
  padding: 0;
  width: 500px; }
  #kc-form > form {
    padding: 0;
    width: inherit; }

.login-container {
  width: inherit;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 30px;
  border-radius: 10px; }

@media (max-width: 767px) {
  #kc-content {
    align-items: flex-start !important;
    padding-top: 3vh !important; }
  #kc-form {
    width: 100vw; }
    #kc-form > form {
      width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw; } }

.alert-error {
  background-color: #ffffff;
  border-color: #cc0000;
  color: #333333;
  margin-bottom: 0; }

.project-title {
  display: flex;
  align-items: center;
  justify-content: center; }
  .project-title p {
    text-align: center;
    color: #357a41;
    font-size: 36px;
    margin-bottom: 0; }

.project-logo {
  background-image: url("../img/logo.png");
  background-size: cover;
  width: 60px;
  height: 60px;
  margin-right: 15px; }

.title {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #55C669; }

.input-detail i {
  position: absolute;
  right: 13%;
  font-size: 18px;
  color: #357a41; }

.input-email, .input-password {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  margin-bottom: 10px; }
  .input-email > input, .input-email > input:-webkit-autofill, .input-password > input, .input-password > input:-webkit-autofill {
    height: 50px;
    width: 80%;
    margin-left: 10%;
    border: none;
    border-radius: 5px;
    background-color: #F1F1F1 !important;
    color: #212121;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center; }
    .input-email > input:hover, .input-email > input:-webkit-autofill:hover, .input-password > input:hover, .input-password > input:-webkit-autofill:hover {
      -webkit-text-fill-color: #357a41 !important;
      -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
      transition: background-color 5000s ease-in-out 0s !important;
      border: 1px solid #357a41; }
    .input-email > input:focus, .input-email > input:-webkit-autofill:focus, .input-password > input:focus, .input-password > input:-webkit-autofill:focus {
      border: 1px solid #357a41;
      box-shadow: 0px 0px 5px #d3d3d3;
      outline: none;
      background-color: #ffffff !important;
      color: #357a41;
      -webkit-text-fill-color: #357a41 !important; }
      .input-email > input:focus::placeholder, .input-email > input:-webkit-autofill:focus::placeholder, .input-password > input:focus::placeholder, .input-password > input:-webkit-autofill:focus::placeholder {
        color: #357a41; }

#username + #input-email-icon, #username + #input-password-icon, #password + #input-email-icon, #password + #input-password-icon {
  color: #212121 !important; }

#username:focus + #input-email-icon,
#username:focus + #input-password-icon,
#username:hover + #input-email-icon,
#username:hover + #input-password-icon, #password:focus + #input-email-icon,
#password:focus + #input-password-icon,
#password:hover + #input-email-icon,
#password:hover + #input-password-icon {
  color: #357a41 !important; }

.input-checkbox {
  margin-bottom: 10px; }
  .input-checkbox > label {
    margin-left: 10%;
    color: #357a41;
    margin-bottom: 0;
    font-weight: normal !important; }

.input-submit > button {
  margin-bottom: 10px;
  margin-left: 10%;
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: #55C669;
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none; }

.input-submit > button, #kc-social-providers a {
  transition: 300ms ease; }
  .input-submit > button:hover, .input-submit > button:active, #kc-social-providers a:hover, #kc-social-providers a:active {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3); }

.link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  .link > .forget-password {
    width: 50%;
    margin-left: 10%; }
  .link > .register {
    margin-right: 10%; }
  .link a {
    color: #357a41;
    text-decoration: underline !important; }

.social-login {
  margin-left: 10%;
  margin-right: 10%; }
  .social-login > ul > li {
    list-style: none;
    float: left; }

#kc-social-providers ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; }

#kc-social-providers li {
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  margin-right: 10px; }
  #kc-social-providers li:last-child {
    margin-right: 0px; }

#kc-social-providers a {
  display: block;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  color: #fff; }

#kc-social-providers i {
  margin-right: 10px;
  font-size: 2rem !important;
  color: #fff; }

#kc-social-providers span {
  text-transform: capitalize;
  font-size: 1.4rem; }

.facebook {
  background-color: #3b5999 !important; }

.google {
  background-color: #da4b42 !important; }

.linkedin {
  background-color: #007fb2 !important; }

#kc-locale {
  position: relative;
  width: 200px;
  left: -230px;
  text-align: right;
  z-index: 9999; }
  #kc-locale ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 20px;
    top: 30px;
    width: 200px;
    padding: 2px; }
    #kc-locale ul li a {
      display: block;
      padding: 1px 11px;
      color: #000 !important;
      border: 1px solid #fff;
      text-decoration: none;
      display: block;
      line-height: 20px; }
      #kc-locale ul li a:hover {
        color: #4d5258;
        background-color: #d4edfa;
        border-color: #b3d3e7; }
  #kc-locale:hover ul {
    display: block;
    margin: 0; }

#kc-locale-dropdown a {
  color: #fff; }
  #kc-locale-dropdown a:hover {
    text-decoration: none; }

a#kc-current-locale-link {
  display: block;
  padding: 5px; }
  a#kc-current-locale-link:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px; }

#kc-form-options span {
  display: block; }

#kc-terms-text {
  margin-bottom: 20px; }

#kc-registration {
  margin-bottom: 15px; }

ol#kc-totp-settings {
  margin: 0;
  padding: 0; }
  ol#kc-totp-settings li {
    margin-top: 1em; }
    ol#kc-totp-settings li:first-of-type {
      margin-top: 0; }

#kc-totp-secret-qr-code {
  max-width: 150px;
  max-height: 150px; }

#kc-oauth h3 {
  margin-top: 0; }

#kc-oauth ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  #kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 30px; }
    #kc-oauth ul li:first-of-type {
      border-top: 0; }

#kc-oauth .kc-role {
  display: inline-block;
  width: 50%; }

#kc-code textarea {
  width: 100%;
  height: 8em; }
