@import 'colors.scss';


    .no-margin-bottom {
        margin-bottom: 0 !important;
    }

    .form-text {
        margin-bottom: 10px !important;
        overflow: auto;
    }

    .center-text {
        text-align: center !important;
    }

//-----------------------------------------------//
//      F O R M   F I E L D S   S T Y L I NG     //
//-----------------------------------------------//

    .input-detail {
        
        i {
            position: absolute;
            right: 3%;
            font-size: 18px;
        }
    }

    .input-wrap {
        display:flex;
        flex-wrap: wrap;

        .input-submit {
            min-width: 20%; 
            margin-left: 2%;

            i {
                position: initial;
                padding-left: 5px;
                padding-right: 5px;
            }

        }

        i {
            right: 3% !important;
        }

        input {
            width: 100% !important;
        }

        .input-email, .input-password, .input-firstname, .input-lastname, .input-username, .add-identity, .input-totp {
            min-width: 78%;
        }

        
    }

    .input-email, .input-password, .input-firstname, .input-lastname, .input-username, .add-identity, .input-totp {
        display: flex;
        align-items: center;
        position: relative;
        top: 0;
        bottom: 0;
        margin-bottom: 10px;
        flex-shrink: 0;
        min-width: 80%;

        >input, >input:-webkit-autofill {
            
            height: 50px;
            width: 100% !important;
            // margin-left: 10%;
            border-radius: 5px;
            color: $form-gray-mid !important;
            -webkit-text-fill-color: $form-gray-mid;
            background-color: $form-gray-light;
            font-size: 16px;
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
            transition: 300ms ease !important;
            border: 1px solid rgba(0, 0, 0, 0);

            &:hover {
                -webkit-text-fill-color: $form-color !important;
                color: $form-color;
                border: 1px solid $form-color;
            }

            &:focus {
                border: 1px solid $form-color;
                box-shadow: 0px 0px 5px #d3d3d3;
                outline: none;
                background-color: white !important;
                color: $form-color;
                -webkit-text-fill-color: $form-color !important;

                &::placeholder {
                    color: $form-color !important;
                }
            }
        }

        >input[disabled], >input[disabled]:-webkit-autofill {
            cursor: not-allowed;

            &:hover {
                border: 1px solid rgba(0, 0, 0, 0);
                color: $form-gray-mid !important;
                -webkit-text-fill-color: $form-gray-mid !important;
            }
        }
    }

    #username,
    #password,
    #password-new,
    #password-confirm,
    #email,
    #firstName,
    #lastName,
    #add-facebook,
    #add-google,
    #add-linkedin,
    #totp {

        + #input-email-icon,
        + #input-password-icon,
        + #input-password-new-icon,
        + #input-password-confirm-icon,
        + #input-firstname-icon,
        + #input-lastname-icon,
        + #input-username-icon,
        + #input-add-facebook-icon,
        + #input-add-google-icon,
        + #input-add-linkedin-icon,
        + #input-totp-icon
         {
            color: $form-gray-mid !important;
        }
        
        &:focus + #input-email-icon,
        &:hover + #input-email-icon,
        &:focus + #input-password-icon,
        &:hover + #input-password-icon,
        &:focus + #input-password-new-icon,
        &:hover + #input-password-new-icon,
        &:focus + #input-password-confirm-icon,
        &:hover + #input-firstname-icon,
        &:focus + #input-firstname-icon,
        &:hover + #input-lastname-icon,
        &:focus + #input-lastname-icon,
        &:hover + #input-username-icon,
        &:focus + #input-username-icon,
        &:hover + #input-add-facebook-icon,
        &:focus + #input-add-facebook-icon,
        &:hover + #input-add-google-icon,
        &:focus + #input-add-google-icon,
        &:hover + #input-add-linkedin-icon,
        &:focus + #input-add-linkedin-icon,
        &:hover + #input-totp-icon,
        &:focus + #input-totp-icon {
            transition: 1000ms ease !important;
            color: $form-color !important;
        }
    }
   
    .input-checkbox{
        margin-bottom: 10px;

        >label{
            // margin-left: 10%;
            color: $secondary-color;
            margin-bottom: 0;
            font-weight: normal !important;
        }
    }

    .input-submit, .input-button {
        flex-shrink: 0;
        min-width: 10%;

        >button, >a, >input {
            margin-bottom: 10px;
            width: 100% !important;
            height: 50px;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            outline: none;


            &:first-child {
                // margin-left: 10% !important;
            }

            &:not(:last-child) {
                margin-right: 1%;
            }

            &:last-child {
                // margin-right: 10% !important;
            }

            &.confirm {
                background-color: $confirm-color;
            }
            &.cancel {
                background-color: $cancel-color;
            }
        }

        >button, #kc-social-providers a, >a, >input {
            transition: 300ms ease;
            
            &:hover, &:active {
                box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
                text-decoration: none;

            }
        }

        &.input-inline{
            display: flex;
        }

        > a {
        
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .form-list {

        p {
            margin-bottom: 0 !important;
        }

    }

    .form-code {

        height: 50px !important;
        width: 60% !important;
        margin-left: 20%;
        background-color: $form-gray-light;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
        color: $form-gray-mid !important;

        span {
           
        }
    }


//-----------------------------------//
//      A L E R T   S T Y L I NG     //
//-----------------------------------//

    .alert {
        padding: 10px !important;
        display: flex;
        align-items: center;
        border-radius: 5px;    
        margin-bottom: 20px;
        padding: 10px !important;
        padding-left: 20px !important;
        font-size: 12px;
        color: #fff;
        border: none;

        i {
            color: #fff;
            font-size: 20px;
            margin-right: 10px;
        }
    }

    .alert-success {
        background-color: $alert-success;
    }

    .alert-warning {
        background-color: $alert-warning;
    }

    .alert-error {
        background-color: $alert-error;
    }


//-----------------------------------//
//      T A B L E   S T Y L I NG     //
//-----------------------------------//

    .table-container {

        border: 1px solid rgba(0,0,0,0.1) !important;
        border-radius: 5px !important;

    }

    .table-header{
        background-color: $form-gray-light !important;
        background-image: none !important;
        box-shadow: 0 3px 15px 0 rgba(0,0,0,0.15);
        border-bottom: 1px solid rgba(0,0,0,0.05);
        text-align: center;
     
        td {
            border-right: 1px solid rgba(0,0,0,0.05);
        }


    }

    .table-body {

        tr {
            &:nth-child(2) {
                background-color: $form-gray-light !important;
            }
        }

        td, th {
            border-top: none !important;
            border-right: 1px solid rgba(0,0,0,0.05);
            vertical-align: middle !important;
        }

        th {
            text-align: center;
        }

        .table-button {
            margin-bottom: 10px;
            margin-top: 10px;
            width: 100% !important;
            border: none;
            border-radius: 5px;
            background-color: $confirm-color !important;
            cursor: pointer;
            outline: none;
            padding: 8px;
            text-align: center;
            transition: 300ms ease;

            a {
                color: white;
                
            }

            &.cancel {
                background-color: $cancel-color !important;
            }

            i {
                font-size: 16px;
                margin-left: 5px;
            }

            &:hover {
                box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);

                a {
                    text-decoration: none;
                }
            }

        }
    }


//--------------------------------------------------------------//
//      S O C I A L   M E D I A   C O L O R   C L A S S E S     //
//--------------------------------------------------------------//

    .facebook {
        background-color: $facebook-color !important;
    }
    .google {
        background-color: $google-color !important;
    }
    .linkedin {
        background-color: $linkedin-color !important;
    }