//--------------------------------------------------------//
//      K E Y C L O A K   L O C A L E   S T Y L I N G     //
//--------------------------------------------------------//

    #kc-locale { 
        
        position: absolute;
        width: 120px;
        top: 10px;
        right: 20px;
        text-align: right;
        z-index: 9999;
        background-color: rgba(0,0,0,0.2);
        border-radius: 5px;

        ul {
            display: none;
            //background-color: rgba(0,0,0,0.5);
            list-style: none;
            top: 30px;
            padding: 5px;

            li {
                a {
                    display: block;
                    padding: 1px 11px;
                    color: #fff !important;
                    text-decoration: none;
                    display: block;
                    line-height: 20px; 
                }

                &:hover {
                    color: #fff;
                    background-color: $primary-color;
                    border-radius: 3px;
                }
            }
        }

        &:not(hover) {
            opacity: 0.5;
        }
        &:hover {
            opacity: 1;

            ul {
                display: block;
                margin: 0;
            }
        }
    }

    .kc-current-item {
        margin-left: 5px !important;
        margin-right: 5px;
    }


    .kc-current-item, .kc-dropdown-item {
        display: flex;
        align-items: center;
        position: relative;
        top: 0;
        bottom: 0;

            i {
                position: absolute;
                left: 5px;
                font-size: 18px;
            }

            a, p {
                padding-left: 35px !important;
                text-align: left;
                color: white;
                margin: 0;
            }
    }

    #kc-locale-dropdown a {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }

    #kc-current-locale-link {
        display: block;
        padding: 5px;
    }



//--------------------------------------//
//         F L A G   S T Y L I N G      //
//--------------------------------------//

//a[href$=".en"]
//UNITED KINGDOM FLAG
    i[class*="kc_locale=en"]:before, i.current-en:before {
        content: "🇬🇧";
    }



//CATALONIA FLAG
    i[class*="kc_locale=ca"]:before, i.current-ca:before {
        content: "🏴󠁥󠁳󠁣󠁴󠁿";
    }


//GERMANY FLAG
    i[class*="kc_locale=de"]:before, i.current-de:before {
        content: "🇩🇪";
    }

//SPAIN FLAG
    i[class*="kc_locale=es"]:before, i.current-es:before {
        content: "🇪🇸";
    }

//FRANCE FLAG
    i[class*="kc_locale=fr"]:before, i.current-fr:before {
        content: "🇫🇷";
    }

//ITALIAN FLAG
    i[class*="kc_locale=it"]:before, i.current-it:before {
        content: "🇮🇹";
    }

//JAPAN FLAG
    i[class*="kc_locale=ja"]:before, i.current-ja:before {
        content: "🇯🇵";
    }

//NORWAY FLAG
    i[class*="kc_locale=no"]:before, i.current-no:before {
        content: "🇳🇴";
    }

//BRASIL FLAG
    i[class*="kc_locale=pt-BR"]:before, i.current-pt-BR:before {
        content: "🇧🇷";
    }

//RUSSIA FLAG
    i[class*="kc_locale=ru"]:before, i.current-ru:before {
        content: "🇷🇺";
    }

//EL SALVADOR FLAG
    i[class*="kc_locale=sv"]:before, i.current-sv:before {
        content: "🇸🇻";
    }

//LITHUANIA FLAG
    i[class*="kc_locale=lt"]:before, i.current-lt:before {
        content: "🇱🇹";
    }

    li[class*="kc_locale=en"].current-en,
    li[class*="kc_locale=ca"].current-ca,
    li[class*="kc_locale=de"].current-de,
    li[class*="kc_locale=es"].current-es,
    li[class*="kc_locale=fr"].current-fr,
    li[class*="kc_locale=it"].current-it,
    li[class*="kc_locale=ja"].current-ja,
    li[class*="kc_locale=no"].current-no,
    li[class*="kc_locale=pt-BR"].current-pt-BR,
    li[class*="kc_locale=ru"].current-ru,
    li[class*="kc_locale=sv"].current-sv,
    li[class*="kc_locale=lt"].current-lt,

     {
        display: none;
    }

