@import 'common';
@import 'locale';

//-----------------------------------//
//      P A G E   S T Y L I NG     //
//-----------------------------------//

html {
    height: 100%;
    width:100%
}


//-------------------------------------//
//      H E A D E R   S T Y L I NG     //
//-------------------------------------//

.header {
    margin-bottom: 0;
    min-height: 50px;
    background-color: $secondary-color !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    
    min-height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70% !important;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;

    &nav {
        border:none !important;
    }
}

.project-logo {
    background-image: url("../img/logo.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 5px;
}

.project-title {
    height: 25px;
    background-repeat: no-repeat;
    margin: 3px 10px 5px;
    color:white;
}

.header-menu{
    width: auto !important;
    float: none;
    margin: 0;

    > li {
        float: right !important;
        list-style: none;

        > a {
            color: white;
        }

        &:not(last-child) {
            margin-right: 10px;
        }
    }

}

.navbar-collapse {
    padding: 0;
    border: none;
    box-shadow: none;
}


#header-menu-icon {
    display: none;
    color: white;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

//---------------------------------//
//      B O D Y   S T Y L I NG     //
//---------------------------------//


.body-content {
    height: 100%;
    margin: auto;
    display: flex;
    padding: 0;
    width: 70% !important;
}


//-----------------------------------------//
//      S U B T I T L E   S T Y L I NG     //
//-----------------------------------------//

.sidebar {
    padding-top: 20px;
    background-color: $secondary-color;
    transition: 0.5s;
    height:100%;
    border-radius: 0 0 5px 5px;
    display: block;

    > ul {
        list-style: none;
        -webkit-padding-start: none;
        padding-left: 20px;
        padding-right: 20px;

        > li {
            margin-bottom: 0.5em;
            display: flex;
            align-items: center;
            position: relative;
            top: 0;
            bottom: 0;
            border-radius: 5px;

            > a {
                padding: 10px 8px 10px 8px;
                text-decoration: none;
                font-size: 14px;
                display: block;
                transition: 0.3s;
                color: $sb-color;
                position: relative;
                left: 30px;
                min-width: 200px;

                
            }

            &:not(.active) a {

                color: $sb-color;
                
                &:hover, &:focus {
                
                    text-decoration: none;
                    color: $sb-highlight-color;
                
                }
            }

            > i {

                position: absolute;
                left: 10px;
                top: 12px;
                font-size: 18px;
                color: $sb-color;
            
            }

            &.active {
                background-color: $primary-color;

                a {
                    color: $sb-highlight-color;
                }

                &:hover {
                    border-right: none;
                }
            }
        }
    }
}



//----------------------------------//
//      M A I N   S T Y L I N G     //
//----------------------------------//

.main-content {

    height:100%;
    display:block;
    width:100%;
    padding-left: 5%;
    padding-right: 5%;
    transition: margin-left .5s;
    margin-top: 20px;

    > h2 {
        font-family: "Open Sans", sans-serif;
        font-weight: 100;
        font-size: 24px;
        margin-bottom: 25px;
        margin-top: 25px;
    }
}

.page-title {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $secondary-color;
}

.subtitle {
    text-align: right;
    margin-top: 30px;
    color: #909090;
}

.required {
    color: #CB2915;
}

.form-horizontal {
    border-top: 1px solid #E9E8E8;
    padding-top: 23px;

    > .control-label {
        color: #909090;
        line-height: 1.4em;
        padding-top: 5px;
        position: relative;
        text-align: right;
        width: 100%;
    }
}

.form-group {
    position: relative;
}

.control-label + .required {
    position: absolute;
    right: -2px;
    top: 0;
}

#kc-form-buttons {
    text-align: right;
    margin-top: 10px;

    > .btn-primary {
        float: right;
        margin-left: 8px;
    }
}

//-----------------------------------//
//      A L E R T   S T Y L I NG     //
//-----------------------------------//

.alert {
    margin: 10px 0 0;
}

.feedback-aligner .alert {
    background-position: 1.27273em center;
    background-repeat: no-repeat;
    border-radius: 2px;
    border-width: 1px;
    color: #4D5258;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 0;
    padding: 0.909091em 3.63636em;
    position: relative;
    text-align: left;
}


/* Authenticator page */

ol {
    padding-left: 20px;

    > li {
        font-size: 13px;
        margin-bottom: 10px;
        position: relative;

        > img {
            margin-top: 15px;
            margin-bottom: 5px;
            border: 1px solid #eee;
        }
    }
}


.provider {
    width: 80%    
}

//-------------------------------------//
//      M O B I L E   S T Y L I NG     //
//-------------------------------------//


@media (max-width: 767px) {
    .width-contain {
        width: 100% !important;
    }

    .main-content {
        position: absolute;
    }

    .project-logo {
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        margin-right: 0;
    }

    .sidebar {
        position: relative;
        display: none;
        z-index: 2;
        padding-top: 0;


         > ul {

            padding-left: 10px;

            > li a {
                font-size: 14px !important;
                min-width: 160px;
            }
        }
    }

    input, a, div {
        font-size: 14px !important;
    }

    table {

        td, th {
        
            font-size: 10px !important;

        }

        input, a, div {
            font-size: 10px !important;
        }
    }

    .form-table {
        overflow: scroll;
    }

    #header-menu-icon {
        display: initial;
    }
}