$container-background: #fff;

$form-color: #404040;

$form-gray-light: #F1F1F1;
$form-gray-mid-light: #B2B2B2;
$form-gray-mid: #808080;
$form-gray-mid-dark: #505050;
$form-gray-dark: #212121;

$confirm-color: #55C669;
$cancel-color: #D34545;

$alert-success: #55C669;
$alert-warning: #F8A554;
$alert-error: #D34545;

$sb-color: rgba(255,255,255,0.7);
$sb-highlight-color: rgba(255,255,255,1);

$facebook-color: #3b5999;
$google-color: #da4b42;
$linkedin-color: #007fb2;