@import 'common';

    //-------------------------------------=------//
    //      C O N T A I N E R   S T Y L I N G     //
    //------------------------------------=-------//

    .login-pf {
        .container {
            padding-top: 40px;
        }

        a:hover {
            color: #0099d3;
        }
    }

    #kc-container {
        height: 100vh;
        width: 100vw;
        background-image: $login-background;
        background-size: cover;
    }

    //-------------------------------------------//
    //      F O R M   B O D Y   S T Y L I NG     //
    //-------------------------------------------//

    #kc-content {
        background-color: rgba(0, 0, 0, 0.6) !important;
        height:inherit;
        width: inherit;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #kc-form {
        padding: 0;
        width: 500px;
        margin-top: -10vh;

        >form{
            padding: 0;
            width: inherit;
        }
    }

    .login-container {
        width: inherit; 
        padding-top: 50px;
        padding-bottom: 40px;
        background-color: $container-background;
        border-radius: 10px;
    }

    //-------------------------------------//
    //      M O B I L E   S T Y L I NG     //
    //-------------------------------------//

    @media (max-width: 767px) {

        #kc-content {
            align-items: flex-start !important;
            padding-top: 3vh !important;
        }

        #kc-form {
            width: 100vw;
            margin-top: 0;


            >form {

                width: 90vw;
                margin-left: 5vw;
                margin-right: 5vw;
            }
        }
    }

    //-----------------------------------//
    //      A L E R T   S T Y L I NG     //
    //-----------------------------------//

    .alert {
        margin-bottom: 20px;
    }

    //--------------------------------------//
    //      H E A D E R   S T Y L I N G     //
    //--------------------------------------//

    .project-title {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            color: $primary-color;
            font-size: 36px;
            margin-bottom: 0;
            max-width: 50%;
            line-height: 1.25em;
        }
    }
    
    .project-logo {
        background-image: url("../img/logo.png");
        background-size: cover;
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }
    
    .title {
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $secondary-color;
    }

    //-----------------------------------------------//
    //      F O R M   F I E L D S   S T Y L I NG     //
    //-----------------------------------------------//

    .input-submit {
        
        >button {
            background-color: $primary-color;
        }
    }

    //-------------------------------------------------------------//
    //      P A S S W O R D   +   S I G N   U P   S T Y L I NG     //
    //-------------------------------------------------------------//

    .link {
        display: flex;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &.link-login, &.link-reset {
            justify-content: space-between;

            >.login {
                margin-left: 10%;
            }
        }

        &.link-register {
            justify-content: flex-end;
        }

        >.forget-password {
            width: 50%;
            margin-left: 10%;
        }

        >.register, >.login {
            margin-right: 10%;
        }

        a {
            color: $secondary-color;
            text-decoration: underline !important;
        }
    }

    //--------------------------------------------------------------//
    //      S O C I A L   M E D I A   L O G I N   S T Y L I N G     //
    //--------------------------------------------------------------//

    .social-login {
        margin-left: 10%;
        margin-right: 10%;

        >ul>li {
            list-style: none;
            float: left;
        }
    }

    .social-login-title {
        text-align: center;
        font-size: 18px;
        //margin-top: 10px;
        margin-bottom: 10px;
        color: $secondary-color;

    }

    #kc-social-providers {
        
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            margin-bottom: 0;
        }

        li {
            height: 50px;
            width: 100%;
            max-width: 50%;
            margin-bottom: 0px;
            margin-right: 10px;

            &:last-child {
                margin-right: 0px;
            }
        }

        a {
            display: block;
            height: inherit;
            width: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
        }

        i {
            margin-right: 10px;
            font-size: 2rem !important;
            color: #fff;
        }

        span {
            text-transform: capitalize;
            font-size: 1.4rem;
        }
    }

    .facebook {
        background-color: #3b5999 !important;
    }
    .google {
        background-color: #da4b42 !important;
    }
    .linkedin {
        background-color: #007fb2 !important;
    }

    //--------------------------------------------------------//
    //      K E Y C L O A K   L O C A L E   S T Y L I N G     //
    //--------------------------------------------------------//

    #kc-locale { 
        
        position: relative;
        width: 200px;
        left: -230px;
        text-align: right;
        z-index: 9999;

        ul {
            display: none;
            position: absolute;
            background-color: #fff;
            list-style: none;
            right: 20px;
            top: 30px;
            width: 200px;
            padding: 2px;

            li a {
                display: block;
                padding: 1px 11px;
                color: #000 !important;
                border: 1px solid #fff;
                text-decoration: none;
                display: block;
                line-height: 20px;

                &:hover {
                    color: #4d5258;
                    background-color: #d4edfa;
                    border-color: #b3d3e7;
                }
            }
        }

        &:hover ul {
            display: block;
            margin: 0;
        }
    }

    #kc-locale-dropdown a {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }

    a#kc-current-locale-link {
        display: block;
        padding: 5px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

        &::after {
            content: "\2c5";
            margin-left: 4px;
        }
    }

    //----------------------------------------------------//
    //      K E Y C L O A K   M I S C   S T Y L I N G     //
    //----------------------------------------------------//

    #kc-form-options span {
        display: block;
    }

    #kc-terms-text {
        margin-bottom: 20px;
    }

    #kc-registration {
        margin-bottom: 15px;
    }

    ol#kc-totp-settings {
        margin: 0;
        padding: 0;

        li {
            margin-top: 1em;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    #kc-totp-secret-qr-code {
        max-width: 150px;
        max-height: 150px;
    }

    #kc-oauth {
        h3 {
            margin-top: 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                font-size: 12px;
                padding: 10px 30px;

                &:first-of-type {
                    border-top: 0;
                }
            }
        }

        .kc-role {
            display: inline-block;
            width: 50%;
        }
    }

    #kc-code textarea {
        width: 100%;
        height: 8em;
    }
