@import 'common';
@import 'locale';

    //-------------------------------------=------//
    //      C O N T A I N E R   S T Y L I N G     //
    //------------------------------------=-------//

    .login-pf {
        .container {
            padding-top: 40px;
        }
    }

    #kc-container {
        height: 100vh;
        width: 100vw;
        background-image: $login-background;
        background-size: cover;
    }

    //-------------------------------------------//
    //      F O R M   B O D Y   S T Y L I NG     //
    //-------------------------------------------//

    #kc-content {
        background-color: rgba(0, 0, 0, 0.6) !important;
        height:inherit;
        width: inherit;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #kc-form {
        padding: 0;
        width: 500px;
        margin-top: -10vh;

        >form{
            padding: 0;
            width: inherit;
        }
    }

    .login-container {
        width: inherit; 
        padding: 40px 10%;
        background-color: $container-background;
        border-radius: 10px;
    }


    //-----------------------------------//
    //      A L E R T   S T Y L I NG     //
    //-----------------------------------//

    .alert {
        margin-bottom: 20px;
    }

    //--------------------------------------//
    //      H E A D E R   S T Y L I N G     //
    //--------------------------------------//

    .project-title {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            color: $primary-color;
            font-size: 36px;
            margin-bottom: 0;
            max-width: 50%;
            line-height: 1.25em;
        }
    }
    
    .project-logo {
        background-image: url("../img/logo.png");
        background-size: cover;
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }
    
    .title {
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $secondary-color;
    }

    //-----------------------------------------------//
    //      F O R M   F I E L D S   S T Y L I NG     //
    //-----------------------------------------------//

    .input-submit {
        
        >button {
            background-color: $primary-color;
        }
    }

    //-------------------------------------------------------------//
    //      P A S S W O R D   +   S I G N   U P   S T Y L I NG     //
    //-------------------------------------------------------------//

    .link {
        display: flex;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &.link-login, &.link-reset {
            justify-content: space-between;
        }

        &.link-register {
            justify-content: flex-end;
        }

        >.forget-password {
            width: 50%;
        }

        a {
            color: $secondary-color;
            text-decoration: underline !important;
        }
    }

    //--------------------------------------------------------------//
    //      S O C I A L   M E D I A   L O G I N   S T Y L I N G     //
    //--------------------------------------------------------------//

    .social-login {

        >ul>li {
            list-style: none;
            float: left;
        }
    }

    .social-login-title {
        text-align: center;
        font-size: 18px;
        //margin-top: 10px;
        margin-bottom: 10px;
        color: $secondary-color;

    }

    #kc-social-providers {
        
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            margin-bottom: 0;
        }

        li {
            height: 50px;
            width: 100%;
            max-width: 50%;
            margin-bottom: 0px;
            margin-right: 10px;

            &:last-child {
                margin-right: 0px;
            }
        }

        a {
            display: block;
            height: inherit;
            width: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
        }

        i {
            margin-right: 10px;
            font-size: 2rem !important;
            color: #fff;
        }

        span {
            text-transform: capitalize;
            font-size: 1.4rem;
        }
    }


//----------------------------------------------------//
//      K E Y C L O A K   M I S C   S T Y L I N G     //
//----------------------------------------------------//

    #kc-form-options span {
        display: block;
    }

    #kc-terms-text {
        margin-bottom: 20px;
    }

    #kc-registration {
        margin-bottom: 15px;
    }

    ol#kc-totp-settings {
        margin: 0;
        padding: 0;

        li {
            margin-top: 1em;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    #kc-totp-secret-qr-code {
        max-width: 150px;
        max-height: 150px;
    }

    #kc-oauth {
        h3 {
            margin-top: 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                font-size: 12px;
                padding: 10px 30px;

                &:first-of-type {
                    border-top: 0;
                }
            }
        }

        .kc-role {
            display: inline-block;
            width: 50%;
        }
    }

    #kc-code textarea {
        width: 100%;
        height: 8em;
    }

    //-------------------------------------//
    //      M O B I L E   S T Y L I NG     //
    //-------------------------------------//

    @media (max-width: 767px) {

        #kc-content {
            align-items: flex-start !important;
            padding-top: 3vh !important;
        }

        #kc-form {
            width: 100vw;
            margin-top: 0;


            >form {

                width: 90vw;
                margin: 0 5vw;
                margin-right: 5vw;
                margin-bottom: 10px;
            }
        }


    
         #kc-social-providers ul {
                flex-wrap: wrap !important;
            }
        

        #kc-social-providers li {
            max-width: 100% !important;
            margin-right: 0;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
