.input-detail i {
  position: absolute;
  right: 3%;
  font-size: 18px; }

.input-wrap {
  display: flex;
  flex-wrap: wrap; }
  .input-wrap .input-submit {
    min-width: 10%;
    margin-left: 2%; }
  .input-wrap i {
    right: 3% !important; }
  .input-wrap input {
    width: 100% !important; }
  .input-wrap .input-email, .input-wrap .input-password, .input-wrap .input-firstname, .input-wrap .input-lastname, .input-wrap .add-identity {
    min-width: 88%; }

.input-email, .input-password, .input-firstname, .input-lastname, .add-identity {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  margin-bottom: 10px;
  flex-shrink: 0;
  min-width: 80%; }
  .input-email > input, .input-email > input:-webkit-autofill, .input-password > input, .input-password > input:-webkit-autofill, .input-firstname > input, .input-firstname > input:-webkit-autofill, .input-lastname > input, .input-lastname > input:-webkit-autofill, .add-identity > input, .add-identity > input:-webkit-autofill {
    height: 50px;
    width: 100% !important;
    border-radius: 5px;
    color: #808080 !important;
    -webkit-text-fill-color: #808080;
    background-color: #F1F1F1;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    transition: 300ms ease !important;
    border: 1px solid transparent; }
    .input-email > input:hover, .input-email > input:-webkit-autofill:hover, .input-password > input:hover, .input-password > input:-webkit-autofill:hover, .input-firstname > input:hover, .input-firstname > input:-webkit-autofill:hover, .input-lastname > input:hover, .input-lastname > input:-webkit-autofill:hover, .add-identity > input:hover, .add-identity > input:-webkit-autofill:hover {
      -webkit-text-fill-color: #404040 !important;
      color: #404040;
      border: 1px solid #404040; }
    .input-email > input:focus, .input-email > input:-webkit-autofill:focus, .input-password > input:focus, .input-password > input:-webkit-autofill:focus, .input-firstname > input:focus, .input-firstname > input:-webkit-autofill:focus, .input-lastname > input:focus, .input-lastname > input:-webkit-autofill:focus, .add-identity > input:focus, .add-identity > input:-webkit-autofill:focus {
      border: 1px solid #404040;
      box-shadow: 0px 0px 5px #d3d3d3;
      outline: none;
      background-color: white !important;
      color: #404040;
      -webkit-text-fill-color: #404040 !important; }
      .input-email > input:focus::placeholder, .input-email > input:-webkit-autofill:focus::placeholder, .input-password > input:focus::placeholder, .input-password > input:-webkit-autofill:focus::placeholder, .input-firstname > input:focus::placeholder, .input-firstname > input:-webkit-autofill:focus::placeholder, .input-lastname > input:focus::placeholder, .input-lastname > input:-webkit-autofill:focus::placeholder, .add-identity > input:focus::placeholder, .add-identity > input:-webkit-autofill:focus::placeholder {
        color: #404040 !important; }
  .input-email > input[disabled], .input-email > input[disabled]:-webkit-autofill, .input-password > input[disabled], .input-password > input[disabled]:-webkit-autofill, .input-firstname > input[disabled], .input-firstname > input[disabled]:-webkit-autofill, .input-lastname > input[disabled], .input-lastname > input[disabled]:-webkit-autofill, .add-identity > input[disabled], .add-identity > input[disabled]:-webkit-autofill {
    cursor: not-allowed; }
    .input-email > input[disabled]:hover, .input-email > input[disabled]:-webkit-autofill:hover, .input-password > input[disabled]:hover, .input-password > input[disabled]:-webkit-autofill:hover, .input-firstname > input[disabled]:hover, .input-firstname > input[disabled]:-webkit-autofill:hover, .input-lastname > input[disabled]:hover, .input-lastname > input[disabled]:-webkit-autofill:hover, .add-identity > input[disabled]:hover, .add-identity > input[disabled]:-webkit-autofill:hover {
      border: 1px solid transparent;
      color: #808080 !important;
      -webkit-text-fill-color: #808080 !important; }

#username + #input-email-icon,
#username + #input-password-icon,
#username + #input-password-new-icon,
#username + #input-password-confirm-icon,
#username + #input-firstname-icon,
#username + #input-lastname-icon,
#username + #input-add-facebook-icon,
#username + #input-add-google-icon,
#username + #input-add-linkedin-icon,
#password + #input-email-icon,
#password + #input-password-icon,
#password + #input-password-new-icon,
#password + #input-password-confirm-icon,
#password + #input-firstname-icon,
#password + #input-lastname-icon,
#password + #input-add-facebook-icon,
#password + #input-add-google-icon,
#password + #input-add-linkedin-icon,
#password-new + #input-email-icon,
#password-new + #input-password-icon,
#password-new + #input-password-new-icon,
#password-new + #input-password-confirm-icon,
#password-new + #input-firstname-icon,
#password-new + #input-lastname-icon,
#password-new + #input-add-facebook-icon,
#password-new + #input-add-google-icon,
#password-new + #input-add-linkedin-icon,
#password-confirm + #input-email-icon,
#password-confirm + #input-password-icon,
#password-confirm + #input-password-new-icon,
#password-confirm + #input-password-confirm-icon,
#password-confirm + #input-firstname-icon,
#password-confirm + #input-lastname-icon,
#password-confirm + #input-add-facebook-icon,
#password-confirm + #input-add-google-icon,
#password-confirm + #input-add-linkedin-icon,
#email + #input-email-icon,
#email + #input-password-icon,
#email + #input-password-new-icon,
#email + #input-password-confirm-icon,
#email + #input-firstname-icon,
#email + #input-lastname-icon,
#email + #input-add-facebook-icon,
#email + #input-add-google-icon,
#email + #input-add-linkedin-icon,
#firstName + #input-email-icon,
#firstName + #input-password-icon,
#firstName + #input-password-new-icon,
#firstName + #input-password-confirm-icon,
#firstName + #input-firstname-icon,
#firstName + #input-lastname-icon,
#firstName + #input-add-facebook-icon,
#firstName + #input-add-google-icon,
#firstName + #input-add-linkedin-icon,
#lastName + #input-email-icon,
#lastName + #input-password-icon,
#lastName + #input-password-new-icon,
#lastName + #input-password-confirm-icon,
#lastName + #input-firstname-icon,
#lastName + #input-lastname-icon,
#lastName + #input-add-facebook-icon,
#lastName + #input-add-google-icon,
#lastName + #input-add-linkedin-icon,
#add-facebook + #input-email-icon,
#add-facebook + #input-password-icon,
#add-facebook + #input-password-new-icon,
#add-facebook + #input-password-confirm-icon,
#add-facebook + #input-firstname-icon,
#add-facebook + #input-lastname-icon,
#add-facebook + #input-add-facebook-icon,
#add-facebook + #input-add-google-icon,
#add-facebook + #input-add-linkedin-icon,
#add-google + #input-email-icon,
#add-google + #input-password-icon,
#add-google + #input-password-new-icon,
#add-google + #input-password-confirm-icon,
#add-google + #input-firstname-icon,
#add-google + #input-lastname-icon,
#add-google + #input-add-facebook-icon,
#add-google + #input-add-google-icon,
#add-google + #input-add-linkedin-icon,
#add-linkedin + #input-email-icon,
#add-linkedin + #input-password-icon,
#add-linkedin + #input-password-new-icon,
#add-linkedin + #input-password-confirm-icon,
#add-linkedin + #input-firstname-icon,
#add-linkedin + #input-lastname-icon,
#add-linkedin + #input-add-facebook-icon,
#add-linkedin + #input-add-google-icon,
#add-linkedin + #input-add-linkedin-icon {
  color: #212121 !important; }

#username:focus + #input-email-icon,
#username:hover + #input-email-icon,
#username:focus + #input-password-icon,
#username:hover + #input-password-icon,
#username:focus + #input-password-new-icon,
#username:hover + #input-password-new-icon,
#username:focus + #input-password-confirm-icon,
#username:hover + #input-firstname-icon,
#username:focus + #input-firstname-icon,
#username:hover + #input-lastname-icon,
#username:focus + #input-lastname-icon,
#username:hover + #input-add-facebook-icon,
#username:focus + #input-add-facebook-icon,
#username:hover + #input-add-google-icon,
#username:focus + #input-add-google-icon,
#username:hover + #input-add-linkedin-icon,
#username:focus + #input-add-linkedin-icon,
#password:focus + #input-email-icon,
#password:hover + #input-email-icon,
#password:focus + #input-password-icon,
#password:hover + #input-password-icon,
#password:focus + #input-password-new-icon,
#password:hover + #input-password-new-icon,
#password:focus + #input-password-confirm-icon,
#password:hover + #input-firstname-icon,
#password:focus + #input-firstname-icon,
#password:hover + #input-lastname-icon,
#password:focus + #input-lastname-icon,
#password:hover + #input-add-facebook-icon,
#password:focus + #input-add-facebook-icon,
#password:hover + #input-add-google-icon,
#password:focus + #input-add-google-icon,
#password:hover + #input-add-linkedin-icon,
#password:focus + #input-add-linkedin-icon,
#password-new:focus + #input-email-icon,
#password-new:hover + #input-email-icon,
#password-new:focus + #input-password-icon,
#password-new:hover + #input-password-icon,
#password-new:focus + #input-password-new-icon,
#password-new:hover + #input-password-new-icon,
#password-new:focus + #input-password-confirm-icon,
#password-new:hover + #input-firstname-icon,
#password-new:focus + #input-firstname-icon,
#password-new:hover + #input-lastname-icon,
#password-new:focus + #input-lastname-icon,
#password-new:hover + #input-add-facebook-icon,
#password-new:focus + #input-add-facebook-icon,
#password-new:hover + #input-add-google-icon,
#password-new:focus + #input-add-google-icon,
#password-new:hover + #input-add-linkedin-icon,
#password-new:focus + #input-add-linkedin-icon,
#password-confirm:focus + #input-email-icon,
#password-confirm:hover + #input-email-icon,
#password-confirm:focus + #input-password-icon,
#password-confirm:hover + #input-password-icon,
#password-confirm:focus + #input-password-new-icon,
#password-confirm:hover + #input-password-new-icon,
#password-confirm:focus + #input-password-confirm-icon,
#password-confirm:hover + #input-firstname-icon,
#password-confirm:focus + #input-firstname-icon,
#password-confirm:hover + #input-lastname-icon,
#password-confirm:focus + #input-lastname-icon,
#password-confirm:hover + #input-add-facebook-icon,
#password-confirm:focus + #input-add-facebook-icon,
#password-confirm:hover + #input-add-google-icon,
#password-confirm:focus + #input-add-google-icon,
#password-confirm:hover + #input-add-linkedin-icon,
#password-confirm:focus + #input-add-linkedin-icon,
#email:focus + #input-email-icon,
#email:hover + #input-email-icon,
#email:focus + #input-password-icon,
#email:hover + #input-password-icon,
#email:focus + #input-password-new-icon,
#email:hover + #input-password-new-icon,
#email:focus + #input-password-confirm-icon,
#email:hover + #input-firstname-icon,
#email:focus + #input-firstname-icon,
#email:hover + #input-lastname-icon,
#email:focus + #input-lastname-icon,
#email:hover + #input-add-facebook-icon,
#email:focus + #input-add-facebook-icon,
#email:hover + #input-add-google-icon,
#email:focus + #input-add-google-icon,
#email:hover + #input-add-linkedin-icon,
#email:focus + #input-add-linkedin-icon,
#firstName:focus + #input-email-icon,
#firstName:hover + #input-email-icon,
#firstName:focus + #input-password-icon,
#firstName:hover + #input-password-icon,
#firstName:focus + #input-password-new-icon,
#firstName:hover + #input-password-new-icon,
#firstName:focus + #input-password-confirm-icon,
#firstName:hover + #input-firstname-icon,
#firstName:focus + #input-firstname-icon,
#firstName:hover + #input-lastname-icon,
#firstName:focus + #input-lastname-icon,
#firstName:hover + #input-add-facebook-icon,
#firstName:focus + #input-add-facebook-icon,
#firstName:hover + #input-add-google-icon,
#firstName:focus + #input-add-google-icon,
#firstName:hover + #input-add-linkedin-icon,
#firstName:focus + #input-add-linkedin-icon,
#lastName:focus + #input-email-icon,
#lastName:hover + #input-email-icon,
#lastName:focus + #input-password-icon,
#lastName:hover + #input-password-icon,
#lastName:focus + #input-password-new-icon,
#lastName:hover + #input-password-new-icon,
#lastName:focus + #input-password-confirm-icon,
#lastName:hover + #input-firstname-icon,
#lastName:focus + #input-firstname-icon,
#lastName:hover + #input-lastname-icon,
#lastName:focus + #input-lastname-icon,
#lastName:hover + #input-add-facebook-icon,
#lastName:focus + #input-add-facebook-icon,
#lastName:hover + #input-add-google-icon,
#lastName:focus + #input-add-google-icon,
#lastName:hover + #input-add-linkedin-icon,
#lastName:focus + #input-add-linkedin-icon,
#add-facebook:focus + #input-email-icon,
#add-facebook:hover + #input-email-icon,
#add-facebook:focus + #input-password-icon,
#add-facebook:hover + #input-password-icon,
#add-facebook:focus + #input-password-new-icon,
#add-facebook:hover + #input-password-new-icon,
#add-facebook:focus + #input-password-confirm-icon,
#add-facebook:hover + #input-firstname-icon,
#add-facebook:focus + #input-firstname-icon,
#add-facebook:hover + #input-lastname-icon,
#add-facebook:focus + #input-lastname-icon,
#add-facebook:hover + #input-add-facebook-icon,
#add-facebook:focus + #input-add-facebook-icon,
#add-facebook:hover + #input-add-google-icon,
#add-facebook:focus + #input-add-google-icon,
#add-facebook:hover + #input-add-linkedin-icon,
#add-facebook:focus + #input-add-linkedin-icon,
#add-google:focus + #input-email-icon,
#add-google:hover + #input-email-icon,
#add-google:focus + #input-password-icon,
#add-google:hover + #input-password-icon,
#add-google:focus + #input-password-new-icon,
#add-google:hover + #input-password-new-icon,
#add-google:focus + #input-password-confirm-icon,
#add-google:hover + #input-firstname-icon,
#add-google:focus + #input-firstname-icon,
#add-google:hover + #input-lastname-icon,
#add-google:focus + #input-lastname-icon,
#add-google:hover + #input-add-facebook-icon,
#add-google:focus + #input-add-facebook-icon,
#add-google:hover + #input-add-google-icon,
#add-google:focus + #input-add-google-icon,
#add-google:hover + #input-add-linkedin-icon,
#add-google:focus + #input-add-linkedin-icon,
#add-linkedin:focus + #input-email-icon,
#add-linkedin:hover + #input-email-icon,
#add-linkedin:focus + #input-password-icon,
#add-linkedin:hover + #input-password-icon,
#add-linkedin:focus + #input-password-new-icon,
#add-linkedin:hover + #input-password-new-icon,
#add-linkedin:focus + #input-password-confirm-icon,
#add-linkedin:hover + #input-firstname-icon,
#add-linkedin:focus + #input-firstname-icon,
#add-linkedin:hover + #input-lastname-icon,
#add-linkedin:focus + #input-lastname-icon,
#add-linkedin:hover + #input-add-facebook-icon,
#add-linkedin:focus + #input-add-facebook-icon,
#add-linkedin:hover + #input-add-google-icon,
#add-linkedin:focus + #input-add-google-icon,
#add-linkedin:hover + #input-add-linkedin-icon,
#add-linkedin:focus + #input-add-linkedin-icon {
  transition: 1000ms ease !important;
  color: #404040 !important; }

.input-checkbox {
  margin-bottom: 10px; }
  .input-checkbox > label {
    color: #005B4F;
    margin-bottom: 0;
    font-weight: normal !important; }

.input-submit, .input-button {
  flex-shrink: 0;
  min-width: 10%; }
  .input-submit > button, .input-submit > a, .input-button > button, .input-button > a {
    margin-bottom: 10px;
    width: 100% !important;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none; }
    .input-submit > button:not(:last-child), .input-submit > a:not(:last-child), .input-button > button:not(:last-child), .input-button > a:not(:last-child) {
      margin-right: 1%; }
    .input-submit > button.confirm, .input-submit > a.confirm, .input-button > button.confirm, .input-button > a.confirm {
      background-color: #55C669 !important; }
    .input-submit > button.cancel, .input-submit > a.cancel, .input-button > button.cancel, .input-button > a.cancel {
      background-color: #D34545 !important; }
  .input-submit > button, .input-submit #kc-social-providers a, .input-button > button, .input-button #kc-social-providers a {
    transition: 300ms ease; }
    .input-submit > button:hover, .input-submit > button:active, .input-submit #kc-social-providers a:hover, .input-submit #kc-social-providers a:active, .input-button > button:hover, .input-button > button:active, .input-button #kc-social-providers a:hover, .input-button #kc-social-providers a:active {
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3); }
  .input-submit.input-inline, .input-button.input-inline {
    display: flex; }
  .input-submit > a, .input-button > a {
    display: flex;
    align-items: center;
    justify-content: center; }

.form-list p {
  margin-bottom: 0 !important; }

.form-code {
  height: 50px !important;
  width: 60% !important;
  margin-left: 20%;
  background-color: #F1F1F1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: #808080 !important; }

.alert {
  padding: 10px !important;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px !important;
  padding-left: 20px !important;
  font-size: 12px;
  color: #fff; }
  .alert i {
    color: #fff;
    font-size: 20px;
    margin-right: 10px; }

.alert-success {
  background-color: #55C669; }

.alert-warning {
  background-color: #F8A554; }

.alert-error {
  background-color: #D34545; }

.table-container {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important; }

.table-header {
  background-color: #F1F1F1 !important;
  background-image: none !important;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center; }
  .table-header td {
    border-right: 1px solid rgba(0, 0, 0, 0.05); }

.table-body tr:nth-child(2) {
  background-color: #F1F1F1 !important; }

.table-body td {
  border-top: none !important;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  vertical-align: middle !important; }

.table-body .table-button {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100% !important;
  border: none;
  border-radius: 5px;
  background-color: #55C669 !important;
  cursor: pointer;
  outline: none;
  padding: 8px;
  text-align: center; }
  .table-body .table-button a {
    color: white; }

.login-pf .container {
  padding-top: 40px; }

.login-pf a:hover {
  color: #0099d3; }

#kc-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/background1.jpg");
  background-size: cover; }

#kc-content {
  background-color: rgba(0, 0, 0, 0.6) !important;
  height: inherit;
  width: inherit;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

#kc-form {
  padding: 0;
  width: 500px;
  margin-top: -10vh; }
  #kc-form > form {
    padding: 0;
    width: inherit; }

.login-container {
  width: inherit;
  padding: 50px 10% 40px;
  background-color: #fff;
  border-radius: 10px; }

@media (max-width: 767px) {
  #kc-content {
    align-items: flex-start !important;
    padding-top: 3vh !important; }
  #kc-form {
    width: 100vw;
    margin-top: 0; }
    #kc-form > form {
      width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw; } }

.alert {
  margin-bottom: 20px; }

.project-title {
  display: flex;
  align-items: center;
  justify-content: center; }
  .project-title p {
    text-align: center;
    color: #4EB9AA;
    font-size: 36px;
    margin-bottom: 0;
    max-width: 50%;
    line-height: 1.25em; }

.project-logo {
  background-image: url("../img/logo.png");
  background-size: cover;
  width: 60px;
  height: 60px;
  margin-right: 15px; }

.title {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #005B4F; }

.input-submit > button {
  background-color: #4EB9AA; }

.link {
  display: flex;
  margin-bottom: 10px; }
  .link:last-child {
    margin-bottom: 0; }
  .link.link-login, .link.link-reset {
    justify-content: space-between; }
    .link.link-login > .login, .link.link-reset > .login {
      margin-left: 10%; }
  .link.link-register {
    justify-content: flex-end; }
  .link > .forget-password {
    width: 50%; }
  .link a {
    color: #005B4F;
    text-decoration: underline !important; }

.social-login > ul > li {
  list-style: none;
  float: left; }

.social-login-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  color: #005B4F; }

#kc-social-providers ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 0; }

#kc-social-providers li {
  height: 50px;
  width: 100%;
  max-width: 50%;
  margin-bottom: 0px;
  margin-right: 10px; }
  #kc-social-providers li:last-child {
    margin-right: 0px; }

#kc-social-providers a {
  display: block;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  color: #fff; }

#kc-social-providers i {
  margin-right: 10px;
  font-size: 2rem !important;
  color: #fff; }

#kc-social-providers span {
  text-transform: capitalize;
  font-size: 1.4rem; }

.facebook {
  background-color: #3b5999 !important; }

.google {
  background-color: #da4b42 !important; }

.linkedin {
  background-color: #007fb2 !important; }

#kc-locale {
  position: relative;
  width: 200px;
  left: -230px;
  text-align: right;
  z-index: 9999; }
  #kc-locale ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 20px;
    top: 30px;
    width: 200px;
    padding: 2px; }
    #kc-locale ul li a {
      display: block;
      padding: 1px 11px;
      color: #000 !important;
      border: 1px solid #fff;
      text-decoration: none;
      display: block;
      line-height: 20px; }
      #kc-locale ul li a:hover {
        color: #4d5258;
        background-color: #d4edfa;
        border-color: #b3d3e7; }
  #kc-locale:hover ul {
    display: block;
    margin: 0; }

#kc-locale-dropdown a {
  color: #fff; }
  #kc-locale-dropdown a:hover {
    text-decoration: none; }

a#kc-current-locale-link {
  display: block;
  padding: 5px; }
  a#kc-current-locale-link:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px; }

#kc-form-options span {
  display: block; }

#kc-terms-text {
  margin-bottom: 20px; }

#kc-registration {
  margin-bottom: 15px; }

ol#kc-totp-settings {
  margin: 0;
  padding: 0; }
  ol#kc-totp-settings li {
    margin-top: 1em; }
    ol#kc-totp-settings li:first-of-type {
      margin-top: 0; }

#kc-totp-secret-qr-code {
  max-width: 150px;
  max-height: 150px; }

#kc-oauth h3 {
  margin-top: 0; }

#kc-oauth ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  #kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 30px; }
    #kc-oauth ul li:first-of-type {
      border-top: 0; }

#kc-oauth .kc-role {
  display: inline-block;
  width: 50%; }

#kc-code textarea {
  width: 100%;
  height: 8em; }
